@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
}

@font-face {
  font-family: 'Gilroy-Black';
  src: url('./fonts/gilroy-black.eot'); /* IE 9 Compatibility Mode */
  src: url('./fonts/gilroy-black.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */ url('./fonts/gilroy-black.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/gilroy-black.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('./fonts/gilroy-black.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/gilroy-black.svg') format('svg'); /* Chrome < 4, Legacy iOS */
}
:root {
  --color-dark-blue: #232333;
  --color-white: #ffffff;
  --color-red: #be2e2e;
  --color-crimson: #7d2121;
  --color-purple: #49499e;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #232333;
  font-size: 16px;
  overflow-x: hidden;
}
h1 {
  height: 39px;
  font-family: 'Gilroy-Black';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}
.form-link {
  height: 16px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.main-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
}
.gradient-bottom {
  background: radial-gradient(
    85.74% 37.17% at 50% 100%,
    rgba(77, 77, 218, 0.496) 5.46%,
    rgba(75, 75, 192, 0.192) 45.83%,
    rgba(73, 73, 158, 0) 100%
  );
}
@layer components {
  .form-control {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
  }
  .form-label {
    @apply block mb-2 text-sm font-medium text-white;
  }
  .btn-red {
    @apply focus:outline-none text-white bg-red hover:bg-crimson focus:ring-4 focus:ring-crimson font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 w-full;
  }
}
